<h1>タスク編集</h1>
<%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.label :description %></div>
  <div><%= f.text_field :description %></div>
  <div><%= f.label :start %></div>
  <div><%= f.date_select :date_start %></div>
  <div><%= f.label :fin %></div>
  <div><%= f.date_select :date_fin %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>