<h1>新規タスク</h1>
<%= form_with model: @task, local: true do |f| %>

  <div><%= f.label :名称 %></div>
  <div><%= f.text_field :title %></div>

  <div><%= f.label :内容 %></div>
  <div><%= f.text_field :description %></div>

  <div><%= f.label :開始日 %></div>
  <div><%= f.date_select :date_start %></div>

  <div><%= f.label :終了日 %></div>
  <div><%= f.date_select :date_fin %></div>

  <%= f.fields_for :places do |place_fields| %>
	    <div><%= place_fields.label :場所 %></div>
	    <div><%= place_fields.text_field :address, placeholder: "住所" %></div>
  <% end %>

  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>