<h1>詳細</h1>

<div>
	名称 : <%= @task.title %>
</div>

<div>
	内容 : <%= @task.description %>
</div>

<div>
	開始日 : <%= @task.date_start %>
</div>

<div>
	終了日 : <%= @task.date_fin%>
</div>

<div>
	住所 : <%= @task.address %>
</div>



<h2>

<div id="map">
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @task.latitude %>,
          "lng": <%= @task.longitude %>,
      "infowindow": '<p><%= @task.address %></p><p><%= @task.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@task.latitude},#{@task.longitude}&iwloc=J",target: "_blank" %></p>'
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  </script>
</div>

</h2>




<div>
	<%= link_to '編集', edit_task_path %>
</div>

<div>
	<%= link_to '削除', task_path, method: :delete %>
</div>

<div>
	<%= link_to '戻る', tasks_path %>
</div>

